.menu {
  border: 10px solid #d50000;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu > a {
  min-width: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#modal1 .modal-content {
  display: flex;
  justify-content: center;
}

#modal1 {
  overflow: visible;
}

.modal {
  max-width: 300px;
}

.modal .btn i {
  /* Quick fix for correct button size */
  width: 18px;
}

#modal2 {
  overflow: hidden;
}

#modal2 p#category_name {
  font-weight: bold;
}

#modal3 i,
#modal3 p {
  cursor: pointer;
}

#modal3 p.fav_joke:hover,
#modal3 p i:hover {
  transition: all 0.5s;
  background: rgb(213, 0, 0);
}

#results_window i {
  color: red;
  cursor: pointer;
}

.highlight {
  background-color: yellow;
}
